.content-component:not(.content-component:first-child) {
    margin-top: 30px;
}

.content-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    padding: 14px 12px;
}

.content-items {
    display: flex;
    flex-wrap: wrap;
}