body::-webkit-scrollbar {
    display: none;
}

.content {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    padding: 8px 12px;
    background-color: var(--secondary);
    transition: all 0.2s linear;
}

.explore-premium {
    display: none;
}

.filter {
    display: none;
}

.content-main {
    padding: 8px 12px;
    margin-top: 80px;
    color: var(--white);
}

/*=========responsive==========*/

@media (max-width: 560px) {
    .content-main {
        padding: 0;
    }
}